:root{
    --background-color-dark:#1b1b1b;
    --background-color-slate:#302E37;
    --background-color-grey:#A0A0A0;
    --background-color-light:#FAFAFA;
    --background-color-accent:#04D361;
    --font-color-light:#eeeeee;
    --font-color-grey:#999999;
    --font-color-dark:#1b1b1b;
    --font-color-accent:#04D361;
    --slow-transition: 1s;
    --medium-transition:.6s;
    --fast-transition:.3s;
}
body{
    background: var(--background-color-dark);
    transition: var(--fast-transition);
}
body.light-mode{
  background: var(--background-color-light);
  
}
pre code {
  background-color: #eee;
  border: 1px solid #999;
  white-space: pre-line;
  padding-left: 5px;
  width: 100%;
  display: block;
  color:var(--font-color-dark);
}

.btn-component{
  background-color: var(--background-color-dark);
  color: var(--font-color-light) !important;
  padding: 7px;
  font-size: 12px;
  border-radius: 4px;
  text-decoration: none;
  text-transform: capitalize !important;
  border:none;
  
}
.btn-component:hover{
  transition:var(--fast-transition);
  opacity: .7;
  color: var(--font-color-light) !important;
}
.btn-component:active, .btn-component:focus{
  color: var(--font-color-light) !important;
  background-color: var(--background-color-dark);
  opacity: 1;
}
.card{
  background: var(--background-color-slate);
  color: var(--font-color-light);
  transition: var(--fast-transition);

}
.card.light-card{
  background: var(--background-color-light);
  color: var(--font-color-dark);
}
.card-title{
  font-size: 24px !important;
  color: var(--background-color-light) !important;
  font-weight: bold !important;
  transition: var(--fast-transition);
}
.card p{
  font-size: 14px;
}
.card-title.light-card-title{
  color: var(--background-color-dark) !important;
}
.chip-container{
  overflow-x: scroll;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.chip-container::-webkit-scrollbar{
  display: none;
}
.chip:hover{
background-color: var(--background-color-accent);
color: var(--font-color-dark);
transition: var(--fast-transition);
cursor: pointer;
}

.code-heading{
  color:var(--font-color-ac); 
  padding:3px;
  background: var(--background-color-light);
  width: 60px; 
  font-size: 10px;
  border-radius: 30px;
  text-align: center;
}
.container{
  margin-top: 50px;
}
.fav-icon {
  position: absolute;
  top: 1%;
  left: 2.5%;
  width: 27px;
  border-radius: 5px;
}
.fav-icon:hover {
  cursor: pointer;
  transform: rotate(360deg);
  transition: 0.8s;
  opacity: 0.9;
}
.green{
  background-color: var(--background-color-accent) !important;
}
.mode-switch {
  position: fixed;
  top: 1%;
  right: 2.5%;
  color: var(--font-color-grey);
  z-index: 2;

}
.mode-switch:hover {
  cursor: pointer;
  transition:var(--fast-transition);
  opacity: .8;
}
.time-stamp {
  width: 100px;
  font-size: 12px;
  color: var(--font-color-grey);
  box-shadow: inset 1px 1px 3px rgba(0,0,0,.3);
  border-radius: 4px;
  text-align: center;
  padding: 3px;
}
@media only screen and (max-width: 992px) {

  .card-title{
    font-size: 18px !important;
  }
 }