*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  font-size: 9px;
  font-weight: bold;
  text-decoration: none;
  color: #cfc8e6;
  letter-spacing: .25px;
}

#active-1, #active-2, #active-3 {
  position: absolute;
  bottom: -22px;
  left: -100px;
  height: 30px;
  width: 30px;
  background-color: #999;
  border-radius: 50%;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}

#active-2 {
  -webkit-transition-delay: 0.02s;
          transition-delay: 0.02s;
}

#active-3 {
  -webkit-transition-delay: 0.04s;
          transition-delay: 0.04s;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 65px;
  overflow: hidden;
  cursor: pointer;
  background-color: #f1f1f1;
  -webkit-box-shadow: 4px 4px 12px #eee, -4px -4px 12px #eee;
          box-shadow: 4px 4px 12px #eee, -4px -4px 12px #eee;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 40px;
  margin: 10px;
  overflow: hidden;
}

.menu__c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #999;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

i {
  font-size: 20px;
}

.menu__c:hover {
  -webkit-animation: item 0.25s ease-in-out 1;
          animation: item 0.25s ease-in-out 1;
}

.menu__c--top:hover {
  -webkit-animation: none;
          animation: none;
}

.menu__icon {
  width: 22px;
  height: 22px;
  -o-object-fit: contain;
     object-fit: contain;
}

.is-c-translate {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 0.5s ease-in-out 0.35s;
  transition: 0.5s ease-in-out 0.35s;
}

@-webkit-keyframes item {
  0%,
  100% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  50% {
    -webkit-transform: translateY(-36px);
            transform: translateY(-36px);
  }
}

@keyframes item {
  0%,
  100% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  50% {
    -webkit-transform: translateY(-36px);
            transform: translateY(-36px);
  }
}
/*# sourceMappingURL=style.css.map */